<div class="bigDaddy">
  <div #ciao class="header" [class.scrolled]="isScrolled">
    <span class="logo"><img src="" alt="QUA CI VA IL LOGO"></span>
    <button (click)="chiamaNumero()" class="button-nav" [class.scrolled]="isScrolled">Prenota ora</button>
  </div>

  <div class="content-menu">
    <img id="pastamain" src="assets/pasta.webp" alt="pasta">
    <div class="title-description">
      <h3>UBABBIO</h3>
      <h1>Osteria Made In Sicily a Palermo</h1>
      <p>Lasciati accogliere dall’atmosfera vibrante e calorosa di uBabbio, dove ogni pasto è un momento di condivisione e gioia.
      </p>
      <button class="button-nav">Scopri il Menù</button>
    </div>
  </div>

  <div class="content-story">
    Breve introduzione con bottone Prenota una tavolo a destra
    Foto di Fiamma a sinistra
  </div>

  <div>Frase caratterizzante il babbio</div>

  <div>set di foto scorrevole babbio e piatti</div>

  <div class="footer">
    <p>&copy; 2023 My Angular App</p>
  </div>
</div>